<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/bootstrap.min.css'>
    <script src='js/bootstrap.bundle.min.js'></script>
</head>

<body>
    <!-----------------Menu da aplicação------------------------------------------------------------------------------>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" target="_blank" href="https://www.ifms.edu.br/">
                <img src="imagens/ifms.png" height="40%" width="55%" alt="Logo da instituição do IFMS"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Professor
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/salvarprofessor">Salvar</a></li>
                            <li><a class="dropdown-item" href="/manterprofessor">Buscar / Remover / Alterar</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Configurações</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Aluno
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/salvaraluno">Salvar</a></li>
                            <li><a class="dropdown-item" href="/manteraluno">Buscar / Remover / Alterar</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Configurações</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Disciplina
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/salvardisciplina">Salvar</a></li>
                            <li><a class="dropdown-item" href="#">Buscar / Remover / Alterar</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Configurações</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!------------------------------------------------------------------------------------------------------------------>
    <!-----------------Parte principal da aplicação------------------------------------------------------------------------------>
    <div class="container" layout:fragment="conteudoprincipal">

    </div>
    <!------------------------------------------------------------------------------------------------------------------>
    <footer class="bg-body-tertiary py-3 mt-5 border-top">
        <div class="container">
            <p>© 2017–2026 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </div>
    </footer>
</body>

</html>