<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layoutprincipal.html}">

<head>
    <title>Manter Professor</title>
</head>

<body>
    <div class=" container" layout:fragment="conteudoprincipal">
        <div class="p-4 p-md-5 mt-4 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic">Manter Professor</h1>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">DT Nascimento</th>
                    <th scope="col">DT Posse</th>
                    <th scope="col">SIAPE</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="professor : ${professores}">
                    <th scope="row"><span th:text="${professor.idPessoa}"></span></th>
                    <td><span th:text="${professor.nome}"></span></td>
                    <td><span th:text="${professor.cpf}"></span></td>
                    <td><span th:text="${#dates.format(professor.dataNascimento, 'dd/MM/yyyy')}"></span></td>
                    <td><span th:text="${#dates.format(professor.dataPosse, 'dd/MM/yyyy')}"></span></td>
                    <td><span th:text="${professor.siape}"></span></td>
                    <td>
                        <form th:action="@{/salvarprofessor/{id}(id=${professor.idPessoa})}" method="get"
                            onsubmit="return confirm('Deseja realmente editar este professor?');">
                            <button type="submit" class="btn btn-warning">Editar</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/removerprofessor/{id}(id=${professor.idPessoa})}" method="get"
                            onsubmit="return confirm('Deseja realmente remover este professor?');">
                            <button type="submit" class="btn btn-danger">Remover</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>

</html>