<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layoutprincipal :: estrutura(~{:: #conteudoCartao})}">

<body>

<div id="conteudoCartao">

    <h2>Emitir Cartão de Débito</h2>

    <p>
        Será criado um cartão de débito associado à conta poupança do cliente.
    </p>

    <form th:action="@{/criarcartao/{id}(id=${idCliente})}"
          method="post">

        <button type="submit"
                class="btn btn-success">

            Confirmar Emissão

        </button>

    </form>

</div>

</body>
</html>